<% if @name %>
<h1>Welcome to your account, <%= @name %>.</h1>
<p>Who else is here?</p>
<ul>
  <% @other_names.each do | other_name | %>
  <li><%= other_name %></li>
  <% end %>
</ul>
<% else %>
<p>You are not signed up. <a href="/">Go to sign up</a>.</p>
<% end %>